<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- include head-seo.html -%}
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <!-- <link rel="icon" href="{{ '/assets/img/favicon.png' | relative_url }}">  disabling this line-->
  </head>
  <body class="site">
    {% include header.html %}

    <main id="content">
      {{ content }}
    </main>

    {% include footer.html %}

    <!-- Load scripts once, at the end -->
    <script src="{{ '/assets/js/theme.js' | relative_url }}" defer></script>
    
  </body>
</html>
