---
layout: default
{% if page.image %}<img class="cover" src="{{ page.image | relative_url }}" alt=""/>{% endif %}
---
<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="meta">Published {{ page.date | date: "%B %d, %Y" }}{% if page.tags %} · Tags:
    {% for tag in page.tags %}<a href="{{ '/tags/' | relative_url }}#{{ tag | slugize }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}
  </div>
  {% if page.tldr %}<blockquote class="tldr"><strong>TL;DR</strong> {{ page.tldr }}</blockquote>{% endif %}
  {{ content }}
  <hr>
  {% if page.canonical_url %}
  <p class="canonical">Canonical: <a href="{{ page.canonical_url }}">{{ page.canonical_url }}</a></p>
  {% endif %}
</article>
